.filter {
  position: relative;
  display: inline-block;
}

.filter__button {
  padding: 0.5rem 1rem;
  background-image: none;
  cursor: pointer;
  border: transparent;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  height: 30px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  background-color:white;
  border-radius: 10%;
  border: 1px solid rgb(187, 202, 208);
}

.filter__button:hover {
  background-color: rgb(212, 222, 220);
}

.filter__button:focus {
  outline: 1px dotted;
  outline: 1px auto -webkit-focus-ring-color;
}

.filter__dropdown {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  display: none;
  width: 12rem;
  z-index: 50;
  left: 0;
  max-height: calc(100vh - 152px);
  position: absolute;
  margin-top: 0.5rem;
  background-color: rgb(212, 222, 220);
  border-radius: 10%;
  border: 1px solid cadetblue;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

#filter_apply_button {
  border: 1px solid black;
  cursor: pointer;
  float: right;
  height: 20px;
  padding-top: 0px;
  padding-bottom: 25px;
  background-color: white;
  color: black;
}